#!/bin/bash
CONFIG[PROJECT_TYPE]='prestashop1.6' # prestashop1.6, prestashop1.7, magento1.9
CONFIG[PROJECT_DOMAIN]=''
CONFIG[MYSQL_EXIST]='no'
CONFIG[MYSQL_HOST]=''
CONFIG[MYSQL_DBNAME]=''
CONFIG[MYSQL_USERNAME]=''
CONFIG[MYSQL_PASSWORD]=''